# Example files

examples/cats/clowder
examples/cats/clowder.yaml
examples/cats/peru.yaml
examples/cats/black*
examples/cats/mu
examples/cats/duke
examples/cats/polkabot
examples/cats/videos

examples/llvm-projects/clowder
examples/llvm-projects/clowder.yaml
examples/llvm-projects/peru.yaml
examples/llvm-projects/k*
examples/llvm-projects/l*
examples/llvm-projects/o*
examples/llvm-projects/p*
examples/llvm-projects/t*
examples/llvm-projects/v*
examples/llvm-projects/z*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
