[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-bdd = "*"
pytest-xdist = "*"
pytest-datadir = "*"
pytest-cov = "*"
pytest-test-groups = "*"
recommonmark = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
Sphinx = "*"
twine = "*"
virtualenv = "*"

[packages]
pygoodle = {editable = true, path = "/Users/jrgoodle/projects/pygoodle"}
GitPython = "*"
