[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
pylint = "*"
pytest = "*"
pytest-bdd = "==4.0.2"
pytest-xdist = "*"
pytest-datadir = "*"
pytest-cov = "*"
pytest-test-groups = "*"
recommonmark = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
Sphinx = "*"
twine = "*"
virtualenv = "*"

[packages]
argcomplete = "*"
colorama = "*"
humanize = "*"
jsonschema = "*"
paramiko = "*"
pick = "*"
resource_pool = "*"
rich = "*"
trio = "*"
PyYAML = "*"

[requires]
python_version = "3.8.16"
