abode==0.1
alabaster==0.7.12
apipkg==1.5
appdirs==1.4.4
argcomplete==1.12.3
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
bleach==3.3.0
certifi==2022.12.7
chardet==4.0.0
-e git+git@github.com:JrGoodle/clowder.git@bc787b2888acf4b7bd8351b9a72982c71c143362#egg=clowder_repo
colorama==0.4.4
commonmark==0.9.1
coverage==5.5
distlib==0.3.2
docutils==0.16
execnet==1.8.1
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.17
glob2==0.7
idna==3.2
imagesize==1.2.0
importlib-metadata==4.5.0
iniconfig==1.1.1
Jinja2==3.0.1
jsonschema==3.2.0
keyring==23.0.1
livereload==2.6.3
Mako==1.1.4
MarkupSafe==2.0.1
outcome==1.1.0
packaging==20.9
parse==1.19.0
parse-type==0.5.2
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.4
pytest-bdd==4.0.2
pytest-cov==2.12.1
pytest-datadir==1.3.1
pytest-forked==1.3.0
pytest-test-groups==1.0.3
pytest-xdist==2.2.1
pytz==2021.1
PyYAML==5.4.1
readme-renderer==29.0
recommonmark==0.7.1
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==10.3.0
six==1.16.0
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
Sphinx==4.0.2
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tornado==6.1
tqdm==4.61.0
trio==0.18.0
twine==3.4.1
urllib3==1.26.5
virtualenv==20.4.7
webencodings==0.5.1
zipp==3.4.1
