cement>=2.10.2
argcomplete>=1.9.0
colorama>=0.3.9
GitPython>=2.1.0
PyYAML>=3.12
sphinx>=1.6.5
sphinx-autobuild>=0.7.0
sphinx-rtd-theme>=0.2.4
termcolor>=1.1.0
psutil>=5.4.0
tqdm>=4.19.0
recommonmark>=0.4.0
